CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mlongcalls
    - -mno-target-align
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-shrink-wrap
    - -Werror
    - -specs=*
Diagnostics:
  UnusedIncludes: None
